<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h1>live</h1>
    <form action="/contrast" method='POST'>
        <input type="number" placeholder="R" name='colorOneR'>
        <input type="number" placeholder="G" name='colorOneG'>
        <input type="number" placeholder="B" name='colorOneB'>
        <input type="submit">
    </form>
</body>
</html>
